@import "./variables.scss";

.auth_container{
  min-height: 100vh;

  &_div {
    min-width: 550px;
    background: $bg-darken;
    border-radius: 8px;
    padding: 16px;
  }
}

.auth_point{
  > strong {
    cursor: pointer;
  }

  &_check {
    > input {
      cursor: pointer;
    }
  }
}
