.auth_container{
  min-height: 100vh;
}
.auth_container_div{
  min-width: 550px;
  background: rgba(66, 130, 255, 0.29);
  border-radius: 2rem;
  padding: 3rem;
}
.auth_point{
  > strong {
    cursor: pointer;
  }
}
.auth_point_check{
  > input {
    cursor: pointer;
  }
}