@import "./variables.scss";

footer{
  background-color: $bg-darken;
  padding: 3rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;

  p > a{
    text-decoration: none;
  }
  
  input{
    color: $text-black;
  }
  
  textarea{
    color: $main-bg;
  }
}

