.left_menu_nav_bar {
  max-width: 260px;
  height: calc(100vh - 55.9px);
  padding: 27.6px 0;
  background-color: #1a1a1a;
  top: 55.9px;

  * {
    color: white !important;
  }
}

.left_menu_container {
  margin: 0 3rem;
}

.left_menu_logo {
  height: 55.9px;
}

.left_menu_ico {
  width: 15px;
  height: 15px;
}