$base-color: blue;
$button-text-color: white;
$secondary-color: lightblue;
$hover-color: darkblue;
$disabled-color: lighten($base-color, 20%);
$transition-speed: .3s;
$validation-error: #dc3545;

.spinner-border.text-primary {
  color: $base-color !important;
}