@import '~bootstrap/scss/bootstrap';
@import url(./styles/landing.scss);
@import url(./styles/authorization.scss);
@import url(./styles/profile.scss);
@import url(./styles/left-menu-nav-bar.scss);
@import url(./styles/header.scss);
@import url(./styles/footer.scss);
@import url(./styles/tests/test-page.scss);
@import url(./styles/inputs.scss);
@import url(./styles/landing-view.scss);
@import url(./styles/conversion-page.scss);
@import url(./styles/tests/test-complete.scss);
@import url(./styles/department-view.scss);
@import url(./styles/components/user-wrapper.scss);
@import url(./styles/components/file-download.scss);
@import url(./styles/portal.scss);
@import url(./styles/db-employee-page.scss);
@import url(./styles/modal-db-employees.scss);
@import url(./styles/tests/test-edit.scss);
@import "./styles/variables.scss";

body {
  background-color: $main-bg;
  color: $text-black;
}

.color-primary {
  color: $primary !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $disabled !important;
}

.color-accent {
  color: $accent !important;
}

.color-black {
  color: $text-black !important;
}

.bg-accent {
  background-color: $accent !important;
  color: $main-bg !important;
}

.app-container {
  max-width: 70vw;
  margin: 0 auto;
  padding-left: 260px;
  width: 100%;

  @media screen and (max-width: 1279px) {
    max-width: 90vw;
  }
}

.app-wrapper {
  display: flex;
  gap: 24px;
  height: 100%;
}

.btn {
  background-color: $primary;
  color: $main-bg !important;
  padding: 4px 16px;
  border-radius: 8px;
  transition: .3s ease;
  border: none !important;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $accent;
  }

  &:disabled {
    background-color: $disabled;
    pointer-events: none;
  }

  &:focus {
    background-color: $primary;
  }
}

.base-wrapper {
  h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid $border-color;
  }

  > div {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-small-title {
    font-size: 20px !important;
  }
}

.action-button {
  color: $primary;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: .3s ease;
  font-weight: 500;

  &:hover {
    color: $accent;
  }

  &.disabled {
    pointer-events: none;
    color: $disabled;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  &.accent {
    color: $accent;
  }
}

.row-list {
  display: flex;
  > p {
    color: $additional-text-color;
    margin-right: 20px;
    font-weight: 600;

    > span {
      color: $text-black;
      font-weight: 400;
    }
  }
}

.app-div {
  min-height: 100%;
}